
<div class="container">
	<form action="/scrape" method="GET">
		<button type="button" class="btn btn-default navbar-btn" id="scraper">Scrape</button>
	</form>
<div id="wrapper">
      <h1>Sports News Scraper</h1>
      <h2><i>Come Here To Find Your Latest News On Sports</i></h2>
      <div id="articles"></div>
      <div id="comments"></div>
</div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="apps.js"></script>